<div class="wrap">
  <div class="main">
    <div class="center_choose">
      <strong>管理信息</strong>
      <ul>
        <li>
          <%= link_to "我发布的信息", my_pinches_list_url %>
        </li>

      </ul>

      <strong>账户管理</strong>
      <ul>
        <li>
          <%= link_to "修改密码", my_password_url %>
        </li>

      </ul>
    </div>
    <div class="center_content">
      <h3>修改密码</h3>
      <%= simple_form_for(current_user, :url => registration_path(current_user), :html => {:method => :put}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= "您的邮箱是#{current_user.email}" %>
            <%= f.input :password, :autocomplete => "off", :required => false, label: "密码" %>
            <%= f.input :password_confirmation, :required => false, label: "重复密码" %>
            <%= f.input :current_password, :hint => "当前的密码", :required => true, label: "当前密码" %>
          </div>

          <div class="form-actions" style="margin-left: 180px;">
            <%= f.button :submit, "提交", :class => "btn" %>
          </div>
      <% end %>
    </div>
  </div>
</div>