<div class="topclass">
  <div style="float:left;width: 700px; ">
    <p>筛选条件</p>

    <form action="/qiupins/filter" method="get">
      <b>目的地</b>
      省份：<select id="des_province" name="qiupin[des_province]" class="filter"></select>&nbsp;&nbsp;
      市：<select id="des_city" name="qiupin[des_city]" class="filter"></select>&nbsp;&nbsp;
      区县：<select id="des_county" name="qiupin[des_county]" class="filter"></select>

      <input name="search_submit" type="submit" value="确定"/>
    </form>
  </div>
  <div style="float:right;width: 169px; height: 60px;">
    <%= link_to "", qiupin_new_url, :class => "btn-2" %>
  </div>

</div>

<div class="topclass">
  <div>您选择的筛选条件为：  目的地【<%= condition(@param)%>】 </div>
  <div class="listcontent">

    <div class="joblist">
      <ul>
        <li>
          <span style="width:400px;">车找人信息</span>
          <span style="width:200px;">出发地</span>
          <span style="width:200px;">目的地</span>
          <span style="width: 150px;">发车时间</span>
        </li>
        <% @qiupins.each do |qiupin| %>
            <li>
              <span style="width: 275px;">
                  <%= link_to truncate(qiupin.title, :length => 30), qiupin_path(qiupin), :class => "Linklist" %>
              </span>
              <span style="width: 200px;"><%= "#{qiupin.dep_city},#{qiupin.dep_county}" %></span>
              <span style="width: 200px;"><%= "#{qiupin.des_city},#{qiupin.des_county}" %></span>
              <span style="width: 150px;"><%= qiupin.go_time %></span>
            </li>
        <% end %>


      </ul>
      <%= will_paginate @qiupins %>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/area.js"></script>
<script type="text/javascript">
    _init_to_area();

</script>