<%= simple_form_for Comment.new, :url => pinche_comment_create_path(@pinche), :remote => true do |f| %>
    <%= f.input :body, input_html: {style: 'height:100px; width:412px;'}, label: false %>
    <p>验证码: <%= captcha_tag %><span><%= link_to "换一张", pinche_change_captcha_path(@pinche), :remote => true %></span></p>
    <p><%= text_field_tag :captcha %></p>
    <%= f.button :submit, "提交", :class => "btn" %>



<% end %>