<div class="login">
  <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to '注销', destroy_user_session_path, :method => 'delete' %>     |

  <% else %>

      <%= link_to '登录', new_user_session_path %>   |

  <% end %>
  <% if user_signed_in? %>

      <%= link_to '用户中心', my_pinches_list_url %>     |

  <% else %>

      <%= link_to '注册', new_user_registration_path %>
  <% end %>

  <a href="#" target="_blank">手机版</a>　
</div>