<!DOCTYPE html>
<html>
<head>
  <title><%= @seo_title %></title>
  <meta name="keywords" content="<%= @seo_keywords %>"/>
  <meta name="description" content="<%= @seo_description %>" />
  <meta name="baidu-site-verification" content="e0bc9515917cc61cad54be2e60e8495c"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topwrap">
  <div class="logo">
    <a href="http://www.0830pk.com">
      <%= image_tag 'logo.png', :alt => "泸州拼客网", :border => "0" %>
      </a>
  </div>

  <%= render 'layouts/login' %>
</div>

<div class="nav">
  <ul class="nav_bar">
    <li class="nav_item">
      <%= menu_nav :nav_home do%><% end %>
    </li>
    <li class="nav_item">
      <span class="nav_dot"></span>
    </li>
    <li class="nav_item">
      <%= menu_nav :nav_pinche do%><% end %>
    </li>
    <li class="nav_item">
      <span class="nav_dot"></span>
    </li>
    <li class="nav_item">
      <%= menu_nav :nav_qiupin do%><% end %>
    </li>
    <li class="nav_item">
      <span class="nav_dot"></span>
    </li>
    <li class="nav_item">
      <%= menu_nav :nav_rent do%><% end %>
    </li>
  </ul>
</div>


<%= yield %>


<div class="wrap">
  <div class="line"></div>
  <div class="bomttomfont">
    <%= link_to "服务申明", service_url %> |
    <%= link_to "使用协议", agreement_url %> |
    <%= link_to "广告联系", contact_me_url %>

    <br>
    泸州拼客网&nbsp;
    <br>©2013&nbsp; 泸州千钧软件
  </div>
</div>


</body>
</html>
